<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="/SChat-FavIcon.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{#if isDevEnv }}
      <script src="jspm_packages/system.js"></script>
      <script src="jspm.browser.js"></script>
      <script src="jspm.config.js"></script>
      <script>
      	System.import('lib/main.js');
      </script>
    {{/if}}
  </head>
  <body>
    {{{body}}}
  </body>
  {{#unless isDevEnv}}
    <script src="build.js"></script>
  {{/unless}}
</html>
