#main-section
  padding-top: 75px
a.schat-chat-tab-anchor
  cursor: pointer
.schat-chat-tab-name
  margin: 3px  
.schat-chat-pane
  display: flex
  width: 100%
  heith: 100%
.schat-chat-messages
  width: 80%
.schat-chat-loading
  text-align: center
  font-weight: bold
  font-size: 24px