body {
  overflow-x: hidden;
}
#main-section {
  position: absolute;
  margin: auto;
  bottom: 25px;
  left: 25px;
  right: 25px;
  top: 75px;
}
@media screen and (min-width: 768px) {
  #main-section {
    top: 175px;
  }
}
@media screen and (min-width: 992px) {
  #main-section {
    top: 125px;
  }
}
@media screen and (min-width: 1200px) {
  #main-section {
    top: 75px;
  }
}
.schat-chat-layout-container,
.schat-chat-panel {
  height: 100%;
}
.schat-context-menu {
  width: 0;
}
a.schat-chat-tab-anchor {
  cursor: pointer;
}
.schat-chat-tab-name {
  margin: 3px;
}
.schat-chat-well {
  display: flex;
  height: calc(100% - 45px);
}
.schat-chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.schat-chat-container > div {
  flex: 0;
}
.schat-chat-messages {
  width: 100%;
  height: 100%;
}
.schat-chat-divider {
  width: 10px;
}
.schat-chat-users {
  width: 300px;
}
.schat-chat-loading {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
div.schat-status-bar-container {
  flex-basis: auto;
  height: 22px;
}
div.schat-messages-container {
  overflow-y: scroll;
  flex: 1;
}
.cursor-pointer {
  cursor: pointer;
}
li.schat-user-role-op {
  background-color: LightBlue;
}
li.schat-user-role-voice {
  background-color: LightGreen;
}
