#main-section
  padding-top: 75px
a.schat-chat-tab-anchor
  cursor: pointer
.schat-chat-tab-name
  margin: 3px  
.schat-chat-well
  display: flex
  width: 100%
  bottom: 0
  top: 75
.schat-chat-messages
  width: calc(100% - 300px)
.schat-chat-users
  width: 300px
.schat-chat-loading
  text-align: center
  font-weight: bold
  font-size: 24px