<div class="checkbox">
  <label>
    <input type="checkbox" value="true" name="{{symbol}}">
    {{label}}
     {{#if varName}}
		<input type="text" class="form-control" id="channel-flag-{{varName}}-input" name="{{varName}}" />
		
	  {{/if}}
  </label>
</div>