<span class="schat-messages-type {{type}}">
	[<span class="schat-messages-timestamp">{{timestamp}}</span>]
	&gt;<span class="schat-messages-user">{{nick}}</span>&lt;&nbsp;
	<span class="schat-messages-content">{{content}}</span>
</span>