<span class="schat-messages-type {{type}}">
	[<span class="schat-messages-timestamp">{{timestamp}}</span>]
	&lt;<span class="schat-messages-user">{{nick}}</span>&gt;&nbsp;
	<span class="schat-messages-content">{{content}}</span>
</span>