<div class="schat-status-bar-container panel">
	<span class="label label-default">Mode:</span>
	<span class="schat-mode-container">{{getModesStr modes}}</span>
	<span class="label label-default">Topic:</span>
	<span class="schat-topic-container">{{topic}}</span>
</div>
<div class="schat-messages-container"></div>
<form class="schat-input-container">
	<div class="form-group">
		<textarea class="form-control schat-message-textarea" rows="1" name="content" autocomplete="off">{{contentInputValue}}</textarea>
	</div>
</form>