<form>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Kick User</h4>
	</div>
	<div class="modal-body">
		<label>Kick Reason:<input type="text" name="reason" placeholder="(Optional)" /></label>
	</div>
	<div class="modal-footer">
		<button type="submit" name="kick" class="btn btn-primary">Kick</button>
		<button type="button" name="cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
	</div>
</form>