<div class="panel panel-default schat-chat-panel">
  <div class="panel-body schat-chat-panel">
	<div class="schat-chat-tabs" id="chat_tabs_container"></div>
	<div class="schat-chat-well well well-lg">
		<div class="schat-chat-messages" id="chat_messages_container"></div>
		<div class="schat-chat-divider"></div>
		<div class="schat-chat-users" id="chat_users_container"></div>
	</div>    
  </div>
</div>

