<a class="schat-chat-tab-anchor">
	<span class="schat-chat-tab-name">{{name}}</span>
	<button type="button" class="btn btn-default btn-xs" name="part"><span class="glyphicon glyphicon-remove"></span></button>
</a>