<nav class="navbar navbar-default navbar-fixed-top"></nav>
<header></header>
<section id="main-section"></section>
<footer></footer>
<div id="dialog" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content" id="dialog-content"></div>
	</div>
</div>